@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

.custom-dot-list-style li button {
    background-color: white !important;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    margin: 0 4px;
    transition: opacity 0.3s ease;
}

.custom-dot-list-style li.react-multi-carousel-dot--active button {
    opacity: 1 !important;
    background-color: white !important;
}